@import "tailwindcss";

:root {
  --background: #d1c0ab;
  --foreground: #22110a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #22110a;
    --foreground: #d1c0ab;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
